<!-- Validation failure messages -->

<% if @team.errors.any? %>
  <% @team.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Team</h3>
      </div>
      <div class="panel-body">
        <form action="/create_team" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for team_name -->
          <div class="form-group">
            <label for="team_name" class="col-sm-2 control-label">
              Team name
            </label>
            <div class="col-sm-10">

              <input type="text" id="team_name" name="team_name" placeholder="Team name" class="form-control" value="<%= @team.team_name %>">

              <!-- <select id="team_name" name="team_name" placeholder="Team name" class="form-control" value="<%= @team.team_name %>">
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="chelseafc">Chelsea</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="arsenalfc">Arsenal</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="reddevils">Man Utd</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="mcfc">Man City</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="LiverpoolFC">Liverpool</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="barca">FC Barcelona</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="realmadrid">Real Madrid</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="fcbayern">Bayern Munich</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="coys">Tottenham</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="FCInterMilan">Inter Milan</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="juventus">Juventus</option>
              <option id="team_name" name="team_name" placeholder="Team name" class="form-control" value="atletico">Athletico Madrid</option>

              </select>
 -->
            </div>
          </div>


<!-- Commenting the stuff below -->

          <!-- Label and input for live_game -->

          <!-- <div class="form-group">
            <label for="live_game" class="col-sm-2 control-label">
              Live game
            </label>
            <div class="col-sm-10">
              <input type="text" id="live_game" name="live_game" placeholder="Live game" class="form-control" value="<%= @team.live_game %>">
            </div>
          </div> -->

          <!-- Label and input for upcoming_game -->

         <!--  <div class="form-group">
            <label for="upcoming_game" class="col-sm-2 control-label">
              Upcoming game
            </label>
            <div class="col-sm-10">
              <input type="text" id="upcoming_game" name="upcoming_game" placeholder="Upcoming game" class="form-control" value="<%= @team.upcoming_game %>">
            </div>
          </div> -->

          <!-- Label and input for team_news -->

          <!-- <div class="form-group">
            <label for="team_news" class="col-sm-2 control-label">
              Team news
            </label>
            <div class="col-sm-10">
              <input type="text" id="team_news" name="team_news" placeholder="Team news" class="form-control" value="<%= @team.team_news %>">
            </div>
          </div> -->

          <!-- Label and input for live_commentary -->

          <!-- <div class="form-group">
            <label for="live_commentary" class="col-sm-2 control-label">
              Live commentary
            </label>
            <div class="col-sm-10">
              <input type="text" id="live_commentary" name="live_commentary" placeholder="Live commentary" class="form-control" value="<%= @team.live_commentary %>">
            </div>
          </div> -->



          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Select Team
              </button>
              or
              <a href="/teams">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Existing Team(s)</h3>

      <div class="panel-body">
      <% @teams.each do |team| %>

        <dl>
          <dt><dd><a href="/teams/<%= team.id %>"> <%= team.team_name %></a></dd></dt>
        </dl>
      <% end %>
      </div>



    </div>
  </div>
</div>

<!-- End responsive panel example -->
