<!-- jsut to show the html -->

<!--  Display Team Chats -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<body onload="setInterval(function() {window.location.reload();}, 3000);">

<style>
th {
    background-color: #00bc8c ;
    color: white;
      }

/*.content-loader tr td {
    white-space: nowrap;
}*/

</style>


<div class="bs-example">
<table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Comment</th>
                <th>User</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% @team.comments.order(:created_at => :desc).limit(20).each do |comment| %>
            <tr>
              <td><font size = "3"><%= comment.comments %></font></td>
              <td><font size = "2"><%= comment.user.try(:email) %> </font></td>
              <td><font size = "1"> <%= comment.created_at %> </font></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>



<!-- Containter example -->

<!-- <div class="container">
    <div class="row">
        <div class="col-sm-3">
          <dl class="dl-horizontal">
           <% @team.comments.order(:created_at => :desc).each do |comment| %>
           <li class="list-group-item"><%= comment.comments %>  <%= comment.user.try(:email) %></li>
           <% end %>
          </dl>
        </div>

        <div class="col-sm-1">
          <dl class="dl-horizontal">
            <% @team.comments.order(:created_at => :desc).each do |comment| %>
            <li class="list-group-item"><%= comment.user.try(:email) %></li>
            <% end %>

          </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3"></div>
    </div>
</div>
</body> -->





